.head1{
	color: ;
}
.messege{
	font-size: 18px;
	color: white;
	border: 1px solid white;
	border-radius: 15px 50px;
}
#box {
	
   	font-size: 18px;
	color: white;
	border: 1px solid white;
	border-radius: 15px 50px;
   
}
#block {
	color: white;
    background-color: royalblue;
    width: 100px;
    border: 1px solid cornflowerblue;
    border-radius: 15px 50px
}

#black2 {
    position: absolute;
    background-color: royalblue;
    left: 50px;
    width: 90px;
    height: 90px;
    margin: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 15px 50px
}



